@font-face {
    font-family: 'Roboto-Light';
    src: url("../../assets/fonts/Roboto/Roboto-Light.ttf") 
}

@font-face {
    font-family: 'Roboto';
    src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf") 
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url("../../assets/fonts/Roboto/Roboto-Medium.ttf") 
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("../../assets/fonts/Roboto/Roboto-Bold.ttf") 
}

:root {
    --orange: rgb(249, 128, 75);
    --orange-hover: rgb(228, 114, 9);
    --orange-gradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --yellow: rgba(255, 238, 46, 1);
    --green-active: rgb(75, 146, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}

li {
    list-style-type: none;
    display: inline-block;    
}

body {
    background-color: black;
}
 
.main-wrapper {
    margin: 0 auto;    
    width: 1600px;
}

.giant-panda {
    height: 780px;
    background-image: url(../../assets/images/panda_bg.png);
    background-size: contain;
    position: relative;
}

header {
    display: flex;
    padding: 14px 220px;
    color: white;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;    
    line-height: 140%;
    background-color: black;
}

.petstory-logo {
    width: 82px;
    height: 52px;
    padding: 3.55px 4.75px;
    border: 1px solid white;
    border-radius: 2px;
    position: relative;
}

.pet-story {
    font-family: 'Roboto-Light', sans-serif; 
    font-size: 19px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
}

.bamboo {
    position: absolute;
    width: 12px;
    height: 21px;
    top: 22.64px;
    left: 10.23px;
}

.nav-container {
    flex-grow: 1;
    padding-left: 5px;
}

.main-menu li {
    padding-left: 58px;
}

.main-menu a, .designed-by a {
    color: white;
    font-family: 'Roboto', sans-serif;    
}

.main-menu a:hover, .designed-by a:hover {
    color: var(--orange);    
}

.main-menu a.about-link:focus {
    color: var(--orange);
    outline-style: none;
}

.orange-circle {
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background-color: var(--orange);
    background: var(--orange-gradient);
    position: absolute;
    top: 92px;
    left: calc(50% - 465px/2 + 239.5px);
}

.watch-your-favorite-animal-h2 {
    width: 500px;
    height: 400px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 106.5px;
    font-weight: 700;
    line-height: 75%;
    position: absolute;
    left: calc(50% - 500px/2 + 330.15px);
    top: 166px;
}

.favorite {
    color: var(--yellow);
}

.watch-online-btn {
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 25px;
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;
    background: var(--orange);
    background: var(--orange-gradient);
    cursor: pointer;
}

.watch-online-btn:hover {    
    background: var(--orange-hover);    
}

.watch-online-btn:active {    
    background: var(--green-active);
}

.watch-online-txt {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 140%;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}